.App {
  padding: 0;
  margin: 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

@font-face {
  font-family: "Stolzl";
  src: url("./fonts/Stolzl-Regular.otf") format("woff");
}

* {
  font-family: "Stolzl";
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.question_container {
  background: url("./img/elements@1X.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-position: 100%;
}

.quesions_text {
  height: 50px;
  padding-left: 20px;
  /* margin-top: -1%; */
  font-size: 1.7vh;
  display: flex;
  padding: 1.5%;
  align-items: center;
  width: 65%;
  text-align: justify;
}

.questions_answers {
  width: 57%;
  z-index: 10;
}

.questions {
  align-items: flex-end;
    display: flex;
  overflow: hidden;
  width: 113%;
  background: url("./img/plane.png");
  background-position: 0% 100%;
  padding: 1px;
  font-size: 14px;
  height: 20%;
  margin-top: 15%;
  margin-bottom: 5%;
  margin-left: -2%;
  background-size: 95%;
  background-repeat: no-repeat;
}

.logo_arts {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  height: 80%;
  align-items: center;
}
.main_logo {
  width: 50%;
  height: 25%;
  background: url("./img/main_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  z-index: 9;
}
.main_photo {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 2;
}
.art {
  background: url("./img/mock.png");
  width: 551px;
  height: 681px;
  z-index: 2;
}
.logo_img {
  width: 40%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-position: 50% !important;
  height: 30%;
  background: url("./img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
}

.main_start__container {
  position: absolute;
  display: flex;
  background: url("./img/background.png");
  /* background-size: contain; */
  background-position: 45% 30%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  z-index: 10;
}

.start_screen {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.start_screen__container {
  display: flex;
  width: 85%;
  height: 85%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #43b5a2;
  border-radius: 1%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.6);
}
.start_screen_buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.start_screen__button {
  width: 40%;
  height: 45px;
  color: white;
  background: #43b5a2;
  /* border:none; */
  border: 1px solid #43b5a2;
  border-radius: 25px;
  margin-top: 5px;
  font-size: 1.5vw;
}
.start_screen__text {
  color: white;
  font-size: 2.3vh;
  text-align: justify;
  width: 90%;
}
.all_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -5%;
  z-index: 4;
  height: 70%;
  width: 90%;
}
.answer_item {
  display: flex;
  align-items: center;
}
.answer_letter {
  transform: rotate(-90deg);
  margin-top: 50%;  
  font-size: 4vh;
  color:white;

}

.answer_button {
  background: url("./img/answer_back.png");
  background-size: contain;
  padding: 3%;
  border: none;
  font-size: 12px;
  font-size: 1.7vh;
  background-repeat: no-repeat;
  text-align: left;
  width: 70%;
  margin-top: 7px;
  height: 40%;
  outline: none;
}
.answer_button:hover{

  background:url('./img/border_hover.png');
  background-size: contain;
  padding: 3%;
  border: none;
  font-size: 12px;
  font-size: 1.7vh;
  background-repeat: no-repeat;
  text-align: left;
  width: 70%;
  margin-top: 7px;
  height: 40%;
  outline: none;
}
.hidden {
  display: none;
}
.answers_container {
  display: flex;
  flex-direction: column;
  width:100%;
}

.hexagon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 34px;
  border-top: 1px solid #43b5a2;
  border-bottom: 1px solid #43b5a2;
  background-color: #43b5a2;
  transform: rotate(90deg);
  margin: 17px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 19px solid #43b5a2;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 19px solid #43b5a2;
}

/* border-bottom: 26px solid #43b5a2; */
.final_container {
  background: url("./img/final_backpng.png");
  background-size: cover;
  background-position: 100% 30%;
  position: absolute;
  display: flex;
  /* background-size: contain; */
  background-repeat: no-repeat;
  width: 100vw;
  height: 100%;
  z-index: 10;
}

.final_info {
  position: absolute;
  width: 40%;
  height: auto;
  right: 5%;
}

.final {
  /* margin: 10px 35px -17px 34px !important; */
  font-size: 3vh;
}
.final_second {
  /* margin: 0px 35px -17px 34px; */
  font-size: 3vh;
}

/* @media (min-width:1000px) {
  .quesions_text{
    height: 80px;
    padding-left: 20px;
    margin-top: 2%;
    font-size: 1.7vh !important;
    display: flex;
    padding: 1.5%;
    width: 65%;
    text-align: justify;
  }
} */

@media (max-width : 1600px) {
.quesions_text{
  font-size: 1.6vh;
  height: 35px;
}
.answer_button{
  font-size: 1.8vh;
}

.final, .final_second{
  font-size: 2.5vh;
}
}

@media (max-width : 1200px) {
  .start_screen__text{
    font-size: 2vh;
  }

  .final_info{
    height: auto;
  }
  .quesions_text {
    height: 55px;
    padding-left: 20px;
    margin-top: 2%;
    font-size: 1.3vh; 
    display: flex;
    padding: 0 0 0 10px;
    align-items: center;
    width: 65%;
    text-align: justify;
  }
  .answer_letter{
    margin-top: 35%;
  }
}

@media (max-width : 860px) {

  .answer_letter{
    margin-top: 50%;
  }

  .questions{
    display: flex;
    width: 90%;
    justify-content: center;
    overflow: hidden;
    height: 30%;
    background:none;
    align-items: center;
    border: 1px solid blue;
    border-radius: 1%;
    z-index: 4;
  }
  .quesions_text{
    font-size: 2.1vh;
    display: flex;
    padding: 0 0 0 10px;
    align-items: center;
    width: 80%;
    text-align: justify;
  }
  .logo_arts{
      display: none;
    }
  .questions_answers{
    width: 100%;
    display: flex;
    background:url('./img/mobile.png');

    flex-direction: column;
    align-items: center;
  }
  .hidden{
    display: none !important;
  }

  .start_screen{
    width:100%;
  }
  .start_screen__text{
    font-size: 1.9vh;
  }
  .start_screen__button{
    font-size: 1.7vh;
  }
  .start_screen__container{
    height: auto;
    display: flex;
    width: auto;
  }
  .all_info{
    width:90%;
    padding: 5%;
    height: auto;
  }
  .final_info{
    height: 65%;
    width: 90%;
  }
  .final,.final_second{
    font-size: 2.5vh;
  }
  .main_start__container{
    background-size: cover;
    overflow-y: hidden;
    height: 100vh;
    background-position: 30%;
  }
  .logo_img{
    height:20%;
  }
  .answer_button{
    font-size: 1.7vh;
    background:none;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    width: 80%;
    height: 100px;
  }
  .answer_button:hover{
    font-size: 1.7vh;
    background:none;
    display: flex;
    flex-wrap: wrap;
    white-space: normal;
    width: 80%;
    height: 100px;
  }
  .answer_item{
    justify-content: center;
  }
}